html,
body,
div,

/*ul,
ol,
li,*/

dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
fieldset,
input {
    margin: 0;
    padding: 0;
}

.user-cabinet-header {
    font-size: 25px;
}

nav .brand-logo {
    padding: 0 100px;
}

.hide-on-med-and-down {
    padding: 0 100px;
}

.teal.darken-2 {
    height: 100px;
    padding: 20px;
}

.site-header {
    /* border-bottom: 1px solid #26a69a; */
    padding: 20px 0;
}

.site-title {
    font-size: 30px;
    margin: 5px;
    /* border-bottom: 1px solid #26a69a; */
}

.modal-wrap {
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal-pro {
    position: relative;
    width: 250px;
    /* height: 320px; */
    border: 1px solid #26a69a;
    border-radius: 12px;
    box-shadow: 1px 1px 10px #1d1d1d;
    padding: 10px;
    background: #fff;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.modal-pro-close {
    position: absolute;
    right: -20px;
    top: -20px;
}

.form-slider {
    width: 700px;
    height: 340px;
    /* background: bisque; */
    margin-left: 0;
    transition: all ease 1s;
}

.left-50,
.right-50 {
    width: 50%;
    float: left;
    /* background: red; */
    min-height: 50px;
    padding: 10px;
}

.right-50 {
    /* background: green; */
    min-height: 50px;
    max-height: 514px;
    overflow-y: scroll;
}

.read-rules {
    cursor: pointer;
}

.sign-up-modal {
    width: 370px;
}

.form-slider-wrapper {
    overflow: hidden;
}

.CenterBlockExForm {
    display: block;
    background: #ffffff;
    width: 1040px;
    margin: 0 auto;
}

.CenterBlock {
    margin: 0 auto;
    padding-top: 15px;
    width: 1000px;
}


/* .MiniPostAllFormDop {
    margin: 0px 10px;
} */


/* /* .MiniPostAllForm {
    /* width: 152px;
    height: 280px; 
    float: right;
    position: absolute;
    width: 152px;
    height: 220px;
    border: 1px solid black;
    float: left;
    text-align: center;
    margin-top: 60px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 3px;
    box-shadow: 0 1px 4px 0 #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.MiniPost {
    overflow: hidden;
    margin-bottom: 3px;
    box-shadow: 0 1px 4px 0 #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.MiniPostName a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}  */


/* 
.cardy {
    width: 152px;
    height: 220px;
    border: 1px solid black;
    float: left;
    text-align: center;
    margin-top: 60px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 3px;
    box-shadow: 0 1px 4px 0 #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.cardy img {
    width: 152px;
    height: 220px;
    overflow: hidden;
    margin-bottom: 3px;
    border-radius: 3px;
} */

.cardy {
    width: 980px;
    margin-left: 100px;
    margin: 0 auto;
}

.card-block1 {
    width: 152px;
    height: 220px;
    border: 1px solid black;
    float: left;
    text-align: center;
    margin-top: 60px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 3px;
    box-shadow: 0 1px 4px 0 #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.card-block2 {}